{% extends 'base.html.twig' %}
{% block title 'Accueil' %}

{% block body %}
<div class="bg-light text-center">
    <h1>Bienvenue sur le marché en ligne !</h1>
    <p>Sur ce site vous pouvez trouver tous les éléments disponible en magasin. Toutes les informations sur les articles sont présents</p>
    <p>Une fois connecté vous pourrez ajouter à votre panier les articles et convenir d'une date pour payer et récupérer au drive vos articles</p>
    <img src="/images/general/marche.jpg" style="width: 100%; height: auto">
</div>
{% endblock %}
