<div class="card mb-4">
    {% if product.filename is defined %}
    <img src="/images/products/{{ product.filename }}" alt="card-img-top" style="width: 100%; height: auto">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('product.show', { id: product.id, slug: product.slug }) }}">{{ product.name }}</a>
        </h5>
        <p class="card-text">
            Prix : {{ product.formattedPrice }}€
        </p>
        <p class="card-text">
            Stock : {{ product.stock }}
        </p>
        <button type="button" class="btn btn-primary">Ajouter au panier</button>
    </div>
</div>