{% extends 'base.html.twig' %}
{% block title 'Magasin' %}

{% block body %}
    <div class="bg-light p-5">
        <div class="container">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="col">
                <label for="">Prix maximum</label>
                {{ form_row(form.maxPrice) }}
            </div>
            <div class="col">
                <label for="">Stock minimum</label>
                {{ form_row(form.minStock) }}
            </div>
            <div class="col">
                <button class="btn btn-secondary">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt-4">
        <h1>Mon magasin</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                {% include 'product/_product.html.twig' %}
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}
