{% extends 'base.html.twig' %}
{% block title 'Magasin' %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>{{ product.name }}</h1>
            <h2>Caractéristiques</h2>
            <table class="table table-striped">
                <tr>
                    <td>Type</td>
                    <td>{{ product.formattedType }}</td>
                </tr>
                <tr>
                    <td>Prix</td>
                    <td>{{ product.formattedPrice }}€</td>
                </tr>
                <tr>
                    <td>Stocks</td>
                    <td>{{ product.stock }} disponibles</td>
                </tr>
            </table>
            <button type="button" class="btn btn-primary">Ajouter au panier</button>
        </div>
        <div class="col">
            <img src="/images/products/{{ product.filename }}" alt="card-img-top" style="width: 100%; height: auto">
        </div>
    </div>
</div>
{% endblock %}
