{% extends 'base.html.twig' %}
{% block title 'Gérer les produits' %}

{% block body %}
<div class="container mt-4">
    <h1>Gérer les produits</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <a href="{{ path('admin.product.edit', { id: product.id }) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin.product.delete', { id: product.id }) }}" class="d-inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-end">
        <a href="{{ path('admin.product.new') }}" class="btn btn-primary">Ajouter un nouveau produit</a>
    </div>
</div>
{% endblock %}
