{% extends 'base.html.twig' %}
{% block title 'Produit' %}

{% block body %}
    <div class="container mt-4">
        <h1>Ajouter un produit</h1>
        {{ include('admin/product/_form.html.twig', { button: 'Ajouter' }) }}
    </div>
{% endblock %}
